.navbarContainer {
  min-height: 70px;
  padding: 0;
  z-index: 10;
  background: #FFFFFF !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navigationMenu {
  display: flex;
  justify-content: flex-end !important;
}
#hidden {
  display: flex;
}
.menuItems {
  margin: 0 1rem;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}
.menuItems:hover {
  color: #000000;
  font-weight: 700;
}
.active {
  margin: 0 1rem;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
}
.logInButton {
  display: block;
  text-decoration: none;
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  margin-left: 1rem;
  height: 44px;
  color: #000000;
}
.registerButton {
  text-decoration: none;
  padding: 10px 25px;
  width: 129px;
  height: 44px;
  background: #FF0000;
  border: none;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 16px;
}
.logInButton:hover {
  color: #000000;
  font-weight: 700;
}
.registerButton:hover {
  color: #FFFFFF;
  font-weight: 700;
}

@media (min-width: 992px) and (max-width: 1075px) {
  .menuItems {
    font-size: 13px;
    margin: 0 0.5rem;
  }
  .menuItems:hover {
    font-size: 13px;
    color: #000000;
    font-weight: 700;
    margin: 0 0.5rem;
  }
  .active {
    font-size: 13px;
    color: #000000;
    font-weight: 700;
    margin: 0 0.5rem;
  }
}
@media (max-width: 991px) {
  #hidden {
    position: absolute;
    left: 0px;
    top: 70px;
    height: auto;
    max-height: auto;
    width: 100%;
    background-color: #f8f9fa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menuItems {
    margin: 0 0 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .menuItems:hover {
    color: #000000;
    background-color: #FFFFFF;
    font-weight: 700;
    margin: 0 0 0.5rem;
  }
  .active {
    color: #000000;
    font-weight: 700;
    margin: 0 0 0.5rem;
  }
}

.authButtons {
  display: flex;
  justify-content: center;
  gap:5px;
  margin: 10px;
}