.imgResponsive {
    max-width: 150%;
}

@media (min-width: 1255px) and (max-width: 1320px) {
    .imgResponsive {
        max-width: 125%;
    }
}

@media (min-width: 1200px) and (max-width: 1254px) {
    .imgResponsive {
        max-width: 105%;
    }
}

@media (min-width: 1100px) and (max-width: 1199px) {
    .imgResponsive {
        max-width: 150%;
    }
}

@media (min-width: 1070px) and (max-width: 1099px) {
    .imgResponsive {
        margin-top: 1.2rem;
        max-width: 135%;
    }
}

@media (min-width: 1030px) and (max-width: 1069px) {
    .imgResponsive {
        margin-top: 2.2rem;
        max-width: 123%;
    }
}

@media (min-width: 1000px) and (max-width: 1029px) {
    .imgResponsive {
        margin-top: 3rem;
        max-width: 114%;
    }
}

@media (min-width: 992px) and (max-width: 999px) {
    .imgResponsive {
        margin-top: 5rem;
        max-width: 100%;
    }
}

@media (min-width: 0) and (max-width: 991px) {
    .imgResponsive {
        display: none;
    }
}
